@charset 'UTF-8';

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font: inherit;
	vertical-align: baseline;
}

html { width: 100%; height: 100%; }

body {
	width: 100%;
	height: 100%;
	
	background-color: #e5e0d5;
}

.container {
	display: block;
	
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: auto;
	background-color: #FFF;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

	header > hr {
		width: 100%;
		border: 1px solid #CFA68E;
	}

	.subheader {
		width: 100%;
		height: 56px;

		display: flex;
		align-items: center;
		justify-content: space-between
	}

	.subheader > a {
		width: auto;
		height: auto;
	}
	.subheader > .logo { font-size: 24px; margin-left: 20px; }
	.subheader > .setting { font-size: 16px; margin-right: 20px; }

	.header-menu {
		width: 100%;
		height: auto;

		display: flex;
		align-items: center;
	}

	.header-menu > a {
		width: auto;
		height: auto;
		padding: 4px;
		margin: 0 16px;

		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;
	}

main {
	width: 100%;
	height: 100%;
	overflow: auto;
}