.figure-textonly {
	background-color: rgba(0, 0, 0, 0);
	color: #9C7D6B;
	font-size: 24px;
	text-align: center;
}

.figure-textonly:hover {
	background-color: rgba(0, 0, 0, .05);
}

figure {
	width: 100%;
	height: auto;
	margin: 24px 0;
	
	background-color: #F5F5F5;
	border-bottom-right-radius: 16px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

figure > h6 {
	width: 100%;
	height: auto;
	
	display: flex;
	
	background-color: #CFA68E;
	color: #FFF;
}

figure > h6 > p {
	padding: 4px 16px;
	flex-grow: 1;
}

figure > h6 > a {
	padding: 4px 16px;
	flex-shrink: 0;
	flex-grow: 0;
	
	background-color: #77C281;
	color: #FFF;
}

article {
	width: 100%;
	height: auto;
	padding: 8px 16px;
	
	white-space: pre-wrap;
}

figcaption {
	width: 100%;
	height: auto;
	padding: 8px 16px;
	
}

figcaption > p {
	text-align: right;
}