@charset "UTF-8";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

/* Material-Icons */
icon,
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*
*	970px 12grid : grid 68px, margin 14px
*	폰트 : 나눔 고딕
*	hex -> rgb로
*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
	outline: none;
}

html { width: 100%; height: 100%; }
body {
    width: 100%;
    height: 100%;
	
    background-color: rgb(245, 245, 245); /* #F5F5F5 */
/* TODO : 폰트 정하기 */
    font-family: 'Roboto';
	color: rgba(0, 0, 0, .54);
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
	pointer-events: none;
}

.container {
	max-width: 970px;
	margin: auto;
	padding: 0 16px;
}

.bottom-margin {
	height: 256px;
}

.desktop .mobile-only { display: none; }
.mobile .desktop-only { display: none; }


/* Pre-defined styles */


.rtl {
	text-align: right;
}

.card {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	border-radius: 3px;
}

.space-between {
	height: 24px;
}
.mobile .space-between {
	height: 20px;
}
.button {
	min-width: 72px;
	height: 36px;
	padding: 10px 16px;
	margin-left: 8px;
	
	display: inline-block;
	
	border-radius: 2px;
	background-color: rgb(0, 150, 136);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
	color: rgb(255, 255, 255);
	
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.mobile .button {
	height: 32px;
	padding: 9px 16px;
	
	font-size: 13px;
	line-height: 14px;
}
.inactive.button {
	opacity: .33;
	pointer-events: none;
}

/* MAIN */

main {
	height: 100%;
	padding-top: 56px;
}
.mobile main {
	padding-top: 96px;
}

	.card .primary-header {
		height: 56px;

		position: relative;
	}

		.primary-header .author {
			position: absolute;
			top: 24px;
			left: 16px;

			font-size: 16px;
			font-weight: 500;
		}

		.primary-header .date {
			position: absolute;
			bottom: 0;
			left: 16px;

			font-size: 12px;
		}

		.primary-header .chip {
			width: auto;
			height: 32px;
			padding-right: 12px;

			position: absolute;
			top: 24px;
			right: 16px;
			
			display: flex;

			border-radius: 16px;
			background-color: rgba(0, 0, 0, .16);
		}

			.chip__icon-wrap {
				width: 32px;
				height: 32px;
				padding: 4px;
				
				border-radius: 16px;
				background-color: rgba(153, 153, 153, 1);
				color: rgb(255, 255, 255);
			}

			.chip .deadline {
				height: 32px;
				padding: 8px 0;
				margin-left: 8px;
				font-size: 14px;
				line-height: 16px;
			}

	.card article {
		padding: 20px 16px;
		
		text-align: justify;
	}

.card .editor {
	padding: 20px 16px 48px 16px;
	position: relative;
}

	.editor textarea {
		width: 100%;
		min-height: 84px;
		padding: 12px;

		resize: vertical;

		border: 2px solid rgba(0, 0, 0, .16);
		border-radius: 2px;

		transition: border-color .2s ease;
	}
	.editor textarea:hover {
		border-color: rgba(66, 165, 245, .54);
	}
	.editor textarea:focus {
		border-color: rgba(66, 165, 245, 1);
	}


	.editor .types {
		position: absolute;
		bottom: 20px;
		right: 16px;

		font-size: 12px;

		transition: color .2s ease,
			font-weight .2s ease;
	}
	.editor .types--warning {
		color: rgb(211, 47, 47);
		font-weight: bold;
	}

.editor-action {
	width: 360px;
	height: 40px;
	
	display: flex;
	align-items: center;
	
	float: right;
}
.mobile .editor-action {
	width: 100%;
	
	position: fixed;
	bottom: 0;
	left: 0;
	
	box-shadow: 0 0px 6px rgba(0, 0, 0, .3);
}

.editor-action .item {
	width: 100%;
	padding: 8px 16px;
	
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.editor-action .divider {
	height: 24px;
	border-right: 1px solid rgba(0, 0, 0, .16);
	
	flex-grow: 0;
}

