<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>씀 : 일상적 글쓰기</title>
	<link rel="stylesheet" href="style.css" media="screen">
</head>
<body>
	<section class="header">
		<h1 class="h-text">씀</h1>
		<h2 class="h-text">&nbsp;일상적<br>&nbsp;글쓰기</h2>
		<p class="h-text">사이에 있는 것들, 쉽게 바뀌는 것들, 덧없이 사라지는 것들이 여전히 내 마음을 잡아끈다.<br>내게도 꿈이라는 것이 몇 개 있다. 그 중 하나는 마음을 잡아끄는 그 절실함을 문장으로 옮기는 일.<br><br>김연수 &#60;청춘의 문장들&#62; 中</p>
	</section>
	<section>
		<p class="container-caption">#1</p>
		<div class="container">
rmf
rmfrmf
rmfrmf
d
d
d
dd
dd



dd
d
d

		</div>
	</section>
</body>
</html>